{% extends "navbar.html" %}
{% block title %}Medicine List{% endblock %}

{% block main %}
<div class="flex flex-row justify-between items-center">
    <h2 class="text-xl font-bold mb-4 text-blue-500 mt-4">All Medicines</h2>
    <button class='bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-lg shawdow-md'>
        <a href="{%url 'addmedicine'%}">Add Medicines</a>
    </button>
</div>
{% if medicines %}
    <div class="overflow-x-auto">
        <table class="min-w-full bg-blue-100 border rounded-lg">
            <thead>
                <tr class="bg-blue-500 text-white text-left">
                    <th class="py-2 px-4 border-b text-left">Name</th>
                    <th class="py-2 px-4 border-b text-left">Quantity</th>
                    <th class="py-2 px-4 border-b text-left">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for medicine in medicines %}
                <tr class="text-gray-700 hover:bg-blue-200 text-left" 
                    onclick="window.location.href='{% url 'medicinedetails' medicine.id %}'">
                    <td class="py-2 px-4 border-b text-left">{{ medicine.name }}</td>
                    <td class="py-2 px-4 border-b text-left">{{ medicine.quantity_in_stock }}</td>
                    <td class="py-2 px-4 border-b text-left">{{ medicine.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-center text-red-600 font-semibold mt-4">No Medicines Found!</p>
{% endif %}
{% endblock %}
