<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedStock</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="bg-light">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <h2 class="text-center text-primary mb-4">Sign UP</h2>

          {% if messages %}
            <div class="mb-3">
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="card shadow-sm">
            <div class="card-body">
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
