{% extends 'navbar.html' %}
{%block title%}dashboard {%endblock%}
{% block main %}
<div class="container mx-auto p-4">
<h1 class="text-2xl font-semibold mb-4">Dashboard</h1>

<div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
    <div class="bg-white p-4 rounded-2xl shadow text-center">
        <h3 class="text-sm text-gray-500">Total Medicines</h3>
        <p class="text-2xl font-bold text-blue-600">{{ medicine.name__count}}</p>
    </div>
    <div class="bg-white p-4 rounded-2xl shadow text-center">
        <h3 class="text-sm text-gray-500">Low Stock</h3>
        <p class="text-2xl font-bold text-orange-500">{{ low_stock }}</p>
    </div>
    <div class="bg-white p-4 rounded-2xl shadow text-center">
        <h3 class="text-sm text-gray-500">Expiring Soon</h3>
        <p class="text-2xl font-bold text-red-500">{{ expiring_soon }}</p>
    </div>
    <div class="bg-white p-4 rounded-2xl shadow text-center">
        <h3 class="text-sm text-gray-500">Today’s Sales</h3>
        <p class="text-2xl font-bold text-green-600">{{ todays_sales }}</p>
    </div>
</div>

<div class="bg-white p-4 rounded-2xl shadow">
    <h3 class="text-lg font-semibold mb-2">(Chart Here)</h3>
    <div class="text-gray-400 text-sm"> Chart</div>
</div>
</div>
{% endblock %}
