{% extends 'base.html' %}
<title>{% block title %}Navbar{% endblock %}</title>
{% block content %}
<div class="flex min-h-screen flex-col md:flex-row p-3">
  
  <header class="flex justify-between items-center bg-white shadow-md p-4 md:hidden rounded-lg">
    <h2 class="text-xl font-bold">MedStock</h2>
    <button id="menu-toggle" class="text-xl focus:outline-none">
      ☰
    </button>
  </header>

 
  <aside id="sidebar" class="w-full md:w-64 bg-white shadow p-4 rounded-lg md:block hidden">
    <a href="{% url 'dashboard' %}" class="flex items-center justify-between mb-6 hidden md:block" >
      <h2 class="text-xl font-bold">MedStock</h2>
    </a>
    <nav class="space-y-4 text-gray-700">
      <a href="{% url 'dashboard' %}" class="block hover:text-blue-600">Dashboard</a>
      <a href="{% url 'stock' %}" class="block hover:text-blue-600">Stock</a>
      <a href="{% url 'medicine' %}" class="block hover:text-blue-600">Medicines</a>
      <a class="block hover:text-blue-600">Purchases</a>
      <a class="block hover:text-blue-600">Sales</a>
      <a class="block hover:text-blue-600">Reports</a>
      <a class="block hover:text-blue-600">Suppliers</a>
      {% if user.is_authenticated %}
        <a href="{% url 'userlogout' %}" class="block hover:text-red-600">Logout</a>
      {% endif %}
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-3">
    {% block main %}
    {% endblock %}
  </main>
</div>

<script>
  const toggleBtn = document.getElementById('menu-toggle');
  const sidebar = document.getElementById('sidebar');

  toggleBtn?.addEventListener('click', () => {
    sidebar.classList.toggle('hidden');
  });

</script>
{% endblock %}
